.modal {
  &-container {
    background: #00000050;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 101;
  }

  &__header {
    display: flex;
    padding: 5px;
    margin: 5px;
    justify-content: space-between;
  }

  &-body {
    background: #fff;
    width: 50%;
    margin: auto;
    padding: 10px;
    position: relative;
    top: 50px;
  }

  &-content {
    display: flex;
    justify-content: space-around;
  }
}
